
   <div><%= comment.content %></div>  
   <% if (local.user && local.user.id == comment.user.id){ %>
     <small>
         <a href="/comments/destroy/<%= comment.id %>"  id = "<%= comment.id %>">X</a>
     </small>
     <% } %>
     
   <small><%= comment.user.name %></small>   
      <br>
   <%}%>
  

     
    <!-- has been used in post in which each post comment are displayed using above function -->