<div>
    <%= comment.content %>
  </div>
  <small>
    <%= comment.user.name %>
  </small>
  <% if(locals.user.id==comment.user.id){%>
    <small>
      <button><a href="comments/destroy/<%=comment.id%>">X</a></button>
    </small>
    <% }%>

    <!-- has been used in post in which each post comment are displayed using above function -->