<link rel="stylesheet" href="/css/header.css">

<div id="parent">
   <div id = "home">
      <h1><a href="//localhost:8000/home">Home</a></h1>
   </div>
   
   
   <div id = "buttons">
      <% if(local.user) {%>
         <!-- don't need to write http  as shown-->
       <!-- <button><a href="//http://localhost:8000/user/sign-out">Sign-out</a></button>   -->
      
       <button><a href="//localhost:8000/user/sign-out">Sign-out</a></button> 
      
          <%}else{%>
      
            <!-- here // address   means address is absolute -->
       <button><a href="//localhost:8000/user/sign-in">Sign-in</a></button>
       <button><a href="//localhost:8000/user/sign-up">Sign-up</a></button>
      
             <%}%>
   </div>
</div>

