<link rel="stylesheet" href="css/home.ejs">
<h1>
  Codiel/ <%= title %>
</h1>
<div>
  <section>
    <form action="/post/create" method="post" id="new-post-form" enctype="multipart/form-data">
      <textarea name="content" id="" cols="50" rows="3" placeholder="Type here ...." required></textarea><br>
      <input type="file" name="image" placeholder="put image">
      <button type="submit">Submit</button>
    </form>
  
    <ul>
      <%- include('_post.ejs') %>
  </ul>
  </section>
  
  <section>
    <h3>Users</h3>
    <%for(f of friends){%>
     <a href="//localhost:8000/user/profile/<%= f.id %>"><%= f.name %></a>
    <%}%>
  </section>
  
</div>

<script src="./js/home_posts.js"></script>