<link rel="stylesheet" href="css/home.ejs">
<h1>
  Codiel/ <%= title %>
</h1>
<div>
  <section>
  
    <ul>
      <%- include('_post.ejs') %>
  </ul>
  </section>
  
  <section>
    <h3>Users</h3>
    <%for(f of friends){%>
     <a href="//localhost:8000/user/profile/<%= f.id %>"><%= f.name %></a>
    <%}%>
  </section>
  
</div>

<script src="./js/home_posts.js"></script>