
 <h1>
    Codiel/ <%= title %>
</h1>   
   
<section>
   <form action="/post/create" method="post">
    <textarea name="content" id="" cols="50" rows="3" placeholder="Type here ...."></textarea><br>
    <button type="submit">Submit</button>
   </form>
    
</section>