<form action="/user/create-session" method="post">
               <input type="email" name="email" placeholder="email" required>
               <br>
              
               <input type="password" name="password" placeholder="password" required>
               <br>
               <input type="submit" value="sign-in">
</form>