
<link rel="stylesheet" href="/css/sign_in.css">
<h1>Sign-in Here</h1>

<form action="/user/create-session" method="post">
               <input type="email" name="email" placeholder="email" required>
               <br>
              
               <input type="password" name="password" placeholder="password" required>
               <br>
               <input type="submit" value="sign-in">
              
              
              
</form>
<button> <a href="/user/auth/google" id="link"><h4>Sign-in with</h4> <i class="fa fa-google-plus" style="font-size:24px"></i></a></button>

