
<link rel="stylesheet" href="/css/sign_in.css">
<h1>Sign-in Here</h1>
<form action="/user/create-session" method="post">
               <input type="email" name="email" placeholder="email" required>
               <br>
              
               <input type="password" name="password" placeholder="password" required>
               <br>
               <input type="submit" value="sign-in">
</form>