body{
  background-color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #ccffff;
 font-family: sans-serif;

    ul li {
      list-style-type: none;
      margin: auto;

      div {
          padding: 10px;
          border-radius: 10px;
          background-color:#66ffff;
          margin: auto;
          border-style: solid;
          border-color: blue;
          border-width: 1px;
      }

      width: 500px;
  }
}