body {

    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: skyblue;

    #profile_center {
        height: 100vh;

        ul li {
            list-style-type: none;
            margin: auto;

            div {
                padding: 10px;
                border-radius: 10px;
                background-color: cyan;
                margin: auto;
                border-style: solid;
                border-color: blue;
                border-width: 1px;
            }

            width: 500px;
        }

        a {
            text-decoration: none;

            button {
                padding: 10px;
                border-radius: 10px;

            }

           button:hover{
            background-color: red;
            color: wheat;
        }
        }

        
    }
}