<div style="background-color: cyan;">
    <p><%= comment.user.name %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong>just got published on codeil application</p>
    <p>Thanks</p>
</div>