body { margin: 0px; padding: 0px; text-align: center; background-color: #ccffff; font-family: sans-serif; }

body .hero { display: grid; grid-template-columns: 3fr 1fr; }

body .hero #Posts_comments_container { height: 100vh; overflow: scroll; overflow-x: hidden; border-right-style: solid; }

body .hero #Posts_comments_container ul .post { list-style-type: none; margin: auto; width: 500px; }

body .hero #Posts_comments_container ul .post .post_added { padding: 10px; border-radius: 10px; background-color: skyblue; margin: auto; border-style: solid; border-color: blue; border-width: 1px; }

body .hero #Posts_comments_container ul .post .post-comments { background-color: wheat; margin-bottom: 10px; border-radius: 10px; }

body .hero #Posts_comments_container ul .post .post-comments .form input { border-radius: 5px; padding: 5px; }

body .hero #Users_container a { text-decoration: none; color: black; border-top: 10px; }

body .hero #Users_container a button { border-radius: 10px; padding: 5px; width: 200px; }
